<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MYUtils-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MYUtils-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MYUtils-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MYUtils-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS-TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>iOS-UITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>iOS-UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>macOS-TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>macOS-UITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>macOS-UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>tvOS-TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tvOS-UITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>tvOS-UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>watchOS-TestApp Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>watchOS-TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E9304611ED3904D0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93046E1ED390C90039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9304761ED390C90039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93048A1ED3910B0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9304921ED3910B0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93053B1ED461AE0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9305481ED461CB0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9305501ED461CC0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9305641ED461F80039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93056C1ED461F80039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9306631ED5D1BA0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93067B1ED5D5870039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9306901ED5D5880039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93069B1ED5D5880039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9306CD1ED5DB7F0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9306F61ED5DC7E0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93071F1ED5DE2E0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93074F1ED5DFD60039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9307661ED5E2320039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9307751ED5E3FE0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9307841ED5E56D0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9307AA1ED62CE60039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9307C81ED6E7EC0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9307D61ED6E8140039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9307E21ED6E84E0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9307F11ED6E8670039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9307FD1ED6E8760039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9308211ED6FC680039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9308341ED6FC880039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9308451ED6FCCD0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91044B581EBA4096009824AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91044B611EBA4097009824AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
