<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MYUtils-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MYUtils-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MYUtils-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MYUtils-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E9304611ED3904D0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93046E1ED390C90039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9304761ED390C90039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93048A1ED3910B0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9304921ED3910B0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93053B1ED461AE0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9305481ED461CB0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9305501ED461CC0039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9305641ED461F80039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E93056C1ED461F80039510B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91044B581EBA4096009824AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91044B611EBA4097009824AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
